.header__link {
    color:white;
    margin-right: 18px;
    text-decoration: none;
    font-family: "Intel";
    line-height: 28px;;
    font-size: 24px;
    font-weight: normal;
    font-family: "Itel", Arial, sans-serif;
}
.header__link:last-child{
    margin: 0;
}
.header__link:hover{
opacity: 0.5;
}