.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin:92px 48px 24px;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 320px;
    width: 100%;
    padding: 62px 16px 24px;
    margin: 0 auto;
  }
}
